header{
    position: sticky;
    z-index: 4;
    min-height: 40px;
    height: 47px;
    max-width: 1080px;
    width:100%;
    margin: auto;
    color-scheme: light dark;
    background-color: rgb(11, 64, 3);
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;


    .logo{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height: 100%;
        transition: color 0.3s ease-out;
        text-decoration: none;
        &:hover{
            color: orange;
        }
            span{
                line-height:25px;
                padding: 0;
                margin: 0;
                font-size: 35px;
                font-weight: bolder;
            }
            p{
                margin:0;
                padding: 0;
                line-height: 20px;
                font-size: 20px;
                font-weight: bolder;
            }
        
    }
    
    
}

.visible { 
    top: 0;
    transition: top 0.4s ease-out;
  }
  
  .hidden {
    top: -200px;
    transition: top 0.4s ease-out;
  }


    
.profile-menu{
    min-height: 40px;
    max-width: 200px;
    width: 50px;
    min-width: max-content;
    font-size: 200;
    font-weight: 300;

    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 0;
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 1s ease-in-out;
        background-color:orange;
        li{ 
            height: 30px;
            padding-left: 10px;
            cursor: pointer;
            margin: 20px;
            opacity: 0.7;
            font-size: 20px;
            transition: all 0.1s ease-in-out;

            &:hover{
                opacity: 1;
                font-size: 25px;
            }
        }
    }
    &:hover ul{
        max-height: 2000px;
    }
}

.profile-menu>div, .signIn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    min-width: max-content;
    padding: 0px 20px;
    height: 47px;
    text-align: right;
    font-weight: 200;
    // min-height: 100%;
}

.profile-menu>div img{
    border-radius: 20px;
    margin-right: 10px;
}



.signIn{
    transition: font-weight .2s ease-in-out;
    &:hover{
        font-weight: 700;
    }
}




@media (prefers-color-scheme: light) {
    header{
        background-color: white;
    } 

    .profile-menu{
        &>div{
            color: black;
        }
        color: white;
        font-weight: 500;

        ul{
            background-color: orange;
        }
    }
    
    .logo{
        text-decoration: none;
    }
 
  }
  