.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
    width: 70%;
}
.recipe-previews-container{
        width: 300px;
        height: 47px;
        position: relative;
        overflow-y: hidden;
        .slider{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            transition: margin-top 0.5s ease-in-out;
            .slides{
                display: flex;
                align-items: center;
                justify-content: center;
                width:100%;
                height: 47px;
                h4{
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                }


            }
        }

}

header{
    button:disabled{
        cursor: not-allowed;
    }
}

.recipe-grid{
    padding: 10px;
    display: grid;
    width: 100%;
    height: calc(100vh - 47px);
    grid-template-columns: repeat(auto-fit, minmax(min(30rem,100%),1fr));
    grid-auto-rows:calc(100vh - 67px);
    grid-gap: var(--grid-gap);
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    &>div{

        width:100%;
        height: 100%;
        background-color:var(--background-dark);
        overflow-x: hidden;
        .slider{
            height: 100%;
            display: flex;
            flex-direction: row;
            margin: 0px;
            transition: margin-left 1s ease-in-out;
            // background-color: brown;
            .slides {
                width: 100%;
                height: 100%;
                opacity: 1;
                overflow-y: scroll;
                transition: opacity 1s ease-in-out;
                font-size: 12px;
                text-align: justify;
                padding: 10px;

                .info-recipe{
                    display: flex;
                    flex-direction: row;
                    // justify-content: center;
                    align-items: center;
                    &>h4{
                        padding-left: 20px;
                    }
                }
                .desc-recipe{
                    div:nth-child(1){
                        position: relative;
                        width:20px;
                        h2{
                            position: absolute;
                            top: -40px;
                            left: 0;
                            color: darkblue;
                            font-size: 70px;
                            z-index: 1;
                            opacity: 0.1;
                        }
                    }
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: fit-content;
                    margin-top:40px;
                    h4{
                        z-index: 2;
                        font-style: italic;
                        font-size: 20px;
                        width: 70%;
                        text-align: right;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .image-carousel{
        overflow: hidden;
    }
    .recipes-carousel{
        overflow-y: scroll;
        .recipe-list-steps{
            &>div{
                h3{
                    color: orange;
                }
            }
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(min(21rem,100%),1fr));
            grid-auto-rows: min-content;
            grid-gap: var(--grid-gap);
            padding: 7px;
            .recipe-list{
                ul{
                    list-style:square;
                    p::first-word{
                        font-weight: bold;
                    }
                }
            }
            .recipe-steps{
                ol{
                    padding: 15px;
                    padding-top: 0px;
                    margin: 12px;
                    list-style: none;
                    counter-reset: steps;
                    li{
                        counter-increment: steps;
                        padding: 7px;
                        &::before{
                            content: "Step " counter(steps) ")";
                            margin-right: 0.5rem;
                            color: orange;
                        }
                    }
                }
            }

        }
    }
        
    
}

@media (prefers-color-scheme: light) {
    .recipe-grid{
        color: black;
        &>div{
            background-color: white;
        }
    }
}
